{% include "header.html" %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="section-header">
<div class="resume-item">
<h2> About me</h2>
<br>
<p> Outside of work, I'm passionate about a diverse range of
    activities that keep me engaged and fulfilled. You'll
    often find me immersed in a game of chess, where strategic
    thinking and problem-solving skills are put to the test. I'm
    an avid reader, always exploring new topics and expanding my
    knowledge. Podcasts are another favorite pastime of mine,
    offering valuable insights and perspectives on various subjects.</p>

<p>When it comes to staying active, I enjoy playing soccer and basketball,
    both of which provide opportunities for teamwork and friendly competition.
    Regular visits to the gym are essential for maintaining my physical health
    and well-being. Additionally, there's nothing quite like a day at the beach
    , where I can unwind and soak up the sun. </p>

<p>Fun fact: I was named after the famous chocolate brand Haigh's
    Chocolates</p>
</div>
</div>
    </div>
</body>
</html>


{% include "footer.html" %}
