{% include "header.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackTheBox Write-ups</title>
</head>
<body>
<div class="container">
    <div class="section-header">

        <div class="resume-item">
        <h3>HackTheBox writeups</h3>
        <ul class="list-group">

            <li class="list-group-item"><a href="https://haighs.notion.site/Headless-38032d949e2d4c8281d1c07135db7296?pvs=4" target="_blank">Headless</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/SolidState-37ede840825a4a8aafc2512dd71bee9d?pvs=4" target="_blank">SolidState</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Perfection-69ece10265704850a9f61da594596d84?pvs=4" target="_blank">Perfection</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Keeper-074f04e145074f9586367559fe1711b3?pvs=4" target="_blank">Keeper</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Nibbles-b102e55e7c914ef5928a2783b03ede45?pvs=4" target="_blank">Nibbles</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Bashed-e1ae1c3c5902499cb175deb0b69f61ab?pvs=4" target="_blank">Bashed</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Shocker-053848766c784f029bdc0661a4069c2e?pvs=4" target="_blank">Shocker</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Lame-3c3a7038f9b2475f94dd708c9d0f3184?pvs=4" target="_blank">Lame</a></li>
            <li class="list-group-item"><a href="https://haighs.notion.site/Haircut-1e663a8ec6cf458abc983386ab380215?pvs=4" target="_blank">Haircut</a></li>


        </ul>
    </div>
    </div>

</div>

</body>
</html>

{% include "footer.html" %}
