{% include "header.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HackTheBox Write-ups</title>
</head>
<body>
<div class="container">
    <div class="section-header">

        <div class="resume-item">
        <h3>HackTheBox writeups</h3>
        <ul class="list-group">

            <li class="list-group-item"><a href="https://dorian-appendix-f9f.notion.site/Headless-38032d949e2d4c8281d1c07135db7296" target="_blank">sense</a></li>
            <li class="list-group-item"><a href="https://dorian-appendix-f9f.notion.site/Headless-38032d949e2d4c8281d1c07135db7296" target="_blank">sense</a></li>


        </ul>
    </div>
    </div>

</div>

</body>
</html>

{% include "footer.html" %}
